<form action="/weeks/new" method="POST">
<h2>Week of <input type="text" name="date" id="date"></h2>
<input type="submit" value="Create Week">
</form>

<h2>Previous Weeks</h2>
<table class="week-index">
<% current_user.weeks.each do |week| %>
  <tr>
    <td><%= week.date %></td>
    <td><a href="/weeks/<%= week.id %>/add">Add Recipes</a></td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
<% end %>
</table>
