<h2>Hi <%= current_user.name %>, here are all your recipes</h2>

<ul>
  <% current_user.recipes.each do |recipe| %>
  <li><a href="recipes/<%= recipe.slug %>"><%= recipe.name %></a> - <%= recipe.cooktime %></li>
  <% end %>
</ul>
