<h3>To add a new recipe, fill out the form below</h3>

  <form action = "/recipes" method="POST">
    <p>Recipe Name: <input type="text" name="name" id="name"></p>
    <p>Recipe Cooktime: <input type="text" name="cooktime" id="cooktime"></p>
    <p>Recipe Ingredients (please seperate by comma): <input type="text" name="recipe[ingredients]" id="ingredients"></p>

    <input type="submit" value="submit">
  </form>
