<section>
  <h3>To add a new recipe, fill out the form below</h3>

  <form action="/recipes" method="POST" class="form" id="new_recipe">
    <p>Recipe Name: <input type="text" name="name" id="name" size=41></p>
    <p>Total time to make (estimate): <input type="text" name="cooktime" id="cooktime" size=15></p>
    <p>Recipe Ingredients (please seperate by comma):</p>

    <textarea form="new_recipe" name="recipe[ingredients]" id="ingredients"></textarea>
    <br></br>
    <input type="submit" value="Create Recipe" class="button">
  </form>
</section>
