<h1>Welcome, <%= current_user.name %>. What would you like to do?</h1>

<section class="home user-select">

  <a href="/recipes/new" class="big-btn">Add New Recipe +</a>

  <a href="/users/weeks" class="big-btn">Create New Week +</a>

  <a href="/users/weeks" class="big-btn">View Existing Weeks</a>

  <a href="/recipes" class="big-btn">View Existing Recipes</a>

</section>

<section class="home favorites">

<h2><%= current_user.name %>'s Favorites</h2>

</section>

<section class="home needs-love">

<h2>Needs love</h2>

</section>
