<h2>Welcome, <%= current_user.name %></h2>

<section class="user-select">

  <a href="/recipes/new">Click here to add a new recipe</a>

  <a href="/recipes">Click here to get your sh*t together for the week</a>

</section>
