<h2>We only need a little bit of info to help you get started</h2>

<form action="/users/new" method="POST">

  <p>Name: <input type="text" name="name" id="name"></p>
  <p>Email Address: <input type="text" name="email" id="email"></p>
  <p>Username: <input type="text" name="username" id="username"></p>
  <p>Password: <input type="password" name="password" id="password"></p>

  <input type="submit" value="submit">
</form>
