<h1>HOWDY!</H1>

<h3>Log in or create an account below</h3>

<form action="/new_user" method="POST">

  <p>Name: <input type="text" name="name" id="name"></p>
  <p>Email Address: <input type="text" name="email" id="email"></p>
  <p>Username: <input type="text" name="username" id="username"></p>
  <p>Password: <input type="password" name="password" id="password"></p>

  <input type="submit" value="submit">
</form>
