<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shoppr</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,700,800,900" rel="stylesheet">
  </head>
  <body>

    <header>
      <% if logged_in? %>
      <a href="/users/<%= current_user.username %>" class="logo">Shoppr</a>

      <div class="nav">
        <ul>
          <% if current_week != nil %>
            <li>Currently working on week of <strong><%= current_week.date %></strong>[<a href="/weeks/show">view</a>]</li> ||
          <% else %>
            <li>Please choose a <a href="/users/weeks">week</a></li> ||
          <% end %>
          <li><a href="/recipes/new">New Recipe</a></li> |
          <li><a href="/recipes">My Recipes</a></li> |
          <li><a href="/logout">Log out</a></li>
        </ul>
      </div>

      <% else %>
      <a href="/" class="logo">Shoppr</a>

      <div class="nav">
        <ul>
          <li>facebook</li> |
          <li>twitter</li> |
          <li>instagram</li>
        </ul>
      </div>
    <% end %>

    </header>

    <section>
    <%= yield %>
    </section>

  </body>
</html>
